/* ForgotPassword component */
.forgot-password-contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot-password-form label {
  display: block;
  margin-bottom: 5px;
}

.forgot-password-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.forgot-password-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}
